
@{
    ViewBag.Title = "Dashboard";
}
<section class="body-content">
    <h2>Witaj w centrum dowodzenia @ViewBag.User.FirstName</h2>

    @if (@ViewBag.User.ListOfProjects == null)
    {
        <button id="btnShowModal" class="btn btn-sm btn-default" data-toggle="modal" data-target="#myModal">
            Dodaj Projekt
            <i class="fas fa-plus"></i>
        </button>
    }
    else
    {
        <div class="projects-container">
            @foreach (var item in @ViewBag.User.ListOfProjects)
            {
                <div class="projects-container-element">
                    <p>Tytuł: @item.Title</p>
                    <p>Opis: @item.Description</p>
                    <p>Deadline: @item.DeadLine.ToString("dd.MM.yyyy")</p>
                    @Html.ActionLink("Otwórz projekt", "Index", "Project", new { projectId = item.Id, userEmail = @ViewBag.User.Email }, new { @class = "btn btn-primary" })
                </div>
            }
        </div>

        <button id="btnShowModal" class="btn btn-sm btn-default modal-button" data-toggle="modal" data-target="#myModal">
            Dodaj kolejny projekt
            <i class="fas fa-plus"></i>
        </button>

        Html.RenderPartial("_AddingProjectModal");
    }
</section>
<section class="body-content">
    <div class="reminder-container">
        <div class="reminder-todo">
            <h4>
                Pozostałe zadania do wykonania w Twoich projektach:
            </h4>
            <div class="reminder-todo-container">
                <!--foreach-->
                @foreach (var item in @ViewBag.ListOfTasks)
                {
                    foreach (var item2 in item.UndoneProjectTasks)
                    {
                        <div class="projects-container-element">
                            <p>Projekt: @item.Project.Title</p>
                            <p>Tytuł: @item2.Title</p>
                            <p>Opis: @item2.Description</p>
                            <p>Deadline: @item2.DeadLine.ToString("dd.MM.yyyy")</p>
                            <button id="btnShowMailModal" class="btn btn-sm btn-default modal-button" data-toggle="modal" data-target="#MailModal">
                                Kontakt z promotorem
                                <i class="fas fa-envelope"></i>
                            </button>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="reminder-stats">
        </div>
    </div>
</section>


<section class="protip-slider">

    <div class="slide">
        <p>Pamiętaj o częstym zapisywaniu swojej pracy.</p>
    </div>
    <div class="slide">
        <p>Częste konsultacje z promotorem to dobry pomysł.</p>
    </div>
    <div class="slide">
        <p>Nie obijaj się! Stay Focused.</p>
    </div>
    <div class="slide">
        <p>Nie próbuj, rób albo nie rób, nie ma próbowania. </p>
    </div>
</section>