
@{
    ViewBag.Title = "Dashboard";
}
<section class="body-content">
    <h2>Witaj w centrum dowodzenia @ViewBag.User.FirstName</h2>

    @if (@ViewBag.User.ListOfProjects == null)
    {
        <button id="btnShowModal" class="btn btn-sm btn-default" data-toggle="modal" data-target="#myModal">
            Dodaj Projekt
            <i class="fas fa-plus"></i>
        </button>
    }
    else
    {
        <div class="projects-container">
            @foreach (var item in @ViewBag.User.ListOfProjects)
            {
                <div class="projects-container-element">
                    <p>Tytuł: @item.Title</p>
                    <p>Opis: @item.Description</p>
                    <p>Deadline: @item.DeadLine.ToString("dd.mm.yyyy")</p>
                    @Html.ActionLink("Otwórz projekt", "Index", "Project", new { projectId = item.Id, userEmail = @ViewBag.User.Email }, new { @class = "btn btn-primary" })
                </div>
            }
        </div>

        <button id="btnShowModal" class="btn btn-sm btn-default modal-button" data-toggle="modal" data-target="#myModal">
            Dodaj kolejny projekt
            <i class="fas fa-plus"></i>
        </button>

        Html.RenderPartial("_AddingProjectModal");
    }
</section>

<div class="reminder-container">
    <div class="reminder-todo">
        <h4>
            Rzeczy do zrobienia:
        </h4>
        <div class="reminder-todo-container">
            <!--foreach-->
        </div>
    </div>
    <div class="reminder-stats">

    </div>
</div>

<section class="protip-slider">

    <div class="slide">
        <p>Pamiętaj o częstym zapisywaniu swojej pracy.</p>
    </div>
    <div class="slide">
        <p>Częste konsultacje z promotorem to dobry pomysł.</p>
    </div>
    <div class="slide">
        <p>Nie obijaj się! Stay Focused.</p>
    </div>
    <div class="slide">
        <p>Nie próbuj, rób albo nie rób, nie ma próbowania. </p>
    </div>
</section>