@{
    ViewBag.Title = "PasswordRecovery";
}

<h3>Podaj nowe hasło dla konta.</h3>

@using (@Html.BeginForm("ResetPassword", "User", new { userEmail = @ViewBag.Email, hash = @ViewBag.Hash }, FormMethod.Post, new { @class = "register" }))
{
    @Html.AntiForgeryToken()

    <div id="register" class="register-content body-content">
        <div class="form-signin">
            <form class="form-horizontal">
                <div class="form-group">
                    <input name="Password" type="password" class="form-control" id="passwordField" placeholder="Twoje hasło" />
                    @Html.ValidationMessage("Password", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input name="ConfirmPassword" type="password" class="form-control" id="passwordField" placeholder="Twoje hasło" />
                    @Html.ValidationMessage("ConfirmPassword", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Wyślij</button>
                </div>
            </form>
        </div>
    </div>
}
