
@{
    ViewBag.Title = "Index";
}

<section class="body-content">
    @foreach (var item in ViewBag.Tasks)
    {
       
        <div class="projects-task-container">
            <p>Tytuł: @item.Title</p>
            <p>Opis: @item.Description</p>
            <p>Deadline: @item.DeadLine.ToString("dd.MM.yyyy")</p>
        </div>
       
    }

    <div class="action-buttons">
        <button id="btnShowModal" class="btn btn-sm btn-default modal-button" data-toggle="modal" data-target="#myModal">
            Dodaj Taska
            <i class="fas fa-plus"></i>
        </button>

        @using (@Html.BeginForm("Dashboard", "User", new { id = @ViewBag.Id, userEmail = @ViewBag.UserEmail }, FormMethod.Post))
        {
            <button class="btn btn-sm btn-default delete-project-button" type="submit">Wróc</button>
        }

        @using (@Html.BeginForm("DeleteProject", "Project", new { id = @ViewBag.Id, userEmail = @ViewBag.UserEmail }, FormMethod.Post))
        {
            <button class="btn btn-sm btn-default delete-project-button" type="submit">Usuń projekt</button>
        }
    </div>
    <aside class="project-stats">
        <p>
            czesio
        </p>
    </aside>
    
    @{ Html.RenderPartial("_AddingTaskModal");}

</section>