
@{
    ViewBag.Title = "Index";
}

<section class="body-content">
    @foreach (var item in ViewBag.Tasks)
    {

        <div class="projects-task-container">
            <p>Tytuł: @item.Title</p>
            <p>Opis: @item.Description</p>
            <p>Deadline: @item.DeadLine.ToString("dd.MM.yyyy")</p>
            <div class="task-action">
                <i class="fas fa-trash-alt"></i>
                <i class="fas fa-envelope"></i>
                <i class="fas fa-check"></i>
            </div>
            
        </div>

    }
  
  <div class="action-buttons">
        <button id="btnShowModal" class="btn btn-sm btn-default modal-button" data-toggle="modal" data-target="#myModal">
            Dodaj Taska
            <i class="fas fa-plus"></i>
        </button>

        @using (@Html.BeginForm("Dashboard", "User", new { id = @ViewBag.Id, userEmail = @ViewBag.UserEmail }, FormMethod.Post))
        {
            <button class="btn btn-sm btn-default delete-project-button" type="submit">Wróc</button>
        }

        @using (@Html.BeginForm("DeleteProject", "Project", new { id = @ViewBag.Id, userEmail = @ViewBag.UserEmail }, FormMethod.Post))
        {
            <button class="btn btn-sm btn-default delete-project-button" type="submit">Usuń projekt</button>
        }
    </div>
  <div class="reminder-stats">
      <h4>
          Statystyki projektu
      </h4>
      <div class="stats-done stats">
          <i class="fas fa-check"></i>
          <span>Zadania wykonane:</span>
          <p>
              @ViewBag.Stats[0]
          </p>
      </div>
      <div class="stats-undone stats">
          <i class="fas fa-clock"></i>
          <span>Zadania niewykonane:</span>
          <p>
              @ViewBag.Stats[1]
          </p>
      </div>
      <div class="stats-failed stats">
          <i class="fas fa-times"></i>
          <span>Zadania nieudane:</span>
          <p>
              @ViewBag.Stats[2]
          </p>
      </div>
  </div>
    @{ Html.RenderPartial("_AddingTaskModal");}

</section>