@{
    ViewBag.Title = "Home Page";
}

<div class="slider jumbotron">
    <div class="slider-content">
        <h2>Zwlekasz z projektem?</h2>
        <p class="lead">Zacznij działać z Diploma!</p>
        <a href="#register" class="btn btn-primary btn-lg">GO</a>
    </div>
</div>
<section class="features body-content">
    <h3>Dlaczego warto wybrać Diploma?</h3>
    <div class="col-md-4">
        <h3>Stały kontakt z promotorem</h3>
        <p>Diploma umożliwi ci pewny kontakt z promotorem podczas twojej pracy</p>
        <span class="glyphicon glyphicon-phone"></span>
    </div>
    <div class="col-md-4">
        <h3>Produktywność</h3>
        <p>Zrób więcej dzięki osobistym retrospecjom i rozbudowanemu planowaniu</p>
        <span class="glyphicon glyphicon-signal"></span>
    </div>
    <div class="col-md-4">
        <h3>Terminowość</h3>
        <p>Optymalne planowanie czasu to podstawa do sprawnego i efektywnego pisania pracy</p>
        <span class="glyphicon glyphicon-calendar"></span>
    </div>
</section>
<section class="coaching body-content">
    <h3>Lorem ipsum tu będzie super header</h3>
    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/study.jpg" alt="Study Person" />
        </div>
        <div class="col-md-6">
            <p>Wiemy, że pisanie pracy to trudne zadanie. Może w znaczny sposób wpłynąć na dalszą ścieżkę kariery, dlatego musisz to zrobić dobrze. Z pomocą naszej aplikacji podołasz temu zadaniu i odniesiesz sukces na polu naukowym.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. adipisicing  sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium,m deserunt.</p>
            <ul class="list-unstyled">
                <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Lorem ipsum enimdolor sit amet</li>
                <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Explicabo deleniti neque aliquid</li>
                <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Consectetur adipisicing elit</li>
                <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Lorem ipsum dolor sit amet</li>
                <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Quo issimos molest quibusdam temporibus</li>
            </ul>
            <a href="#register" class="btn btn-primary btn-lg">Zaczynajmy!</a>
        </div>
    </div>
</section>

<section class="timeline">
    <h3>Ja to działa?</h3>
    <div class="timeline-container">
        <div class="timeline-element-container left">
            <div class="timeline-content">
                <h2>2017</h2>
                <p>Lorem ipsum..</p>
            </div>
        </div>
        <div class="timeline-element-container right">
            <div class="timeline-content">
                <h2>2016</h2>
                <p>Lorem ipsum..</p>
            </div>
        </div>
    </div>
</section>

@using (@Html.BeginForm("RegisterUser", "Home", FormMethod.Post, new { @class = "register" }))
{
    @Html.AntiForgeryToken()

    <div id="register" class="register-content body-content">
        @if (ViewBag.Message != null)
        {
            <h3>@ViewBag.Message</h3>
        }
        @if (ViewBag.Message == null)
        {
            <h3>Zarejestruj się i zobacz jak wiele możesz zrobić</h3>
        }
        <div class="form-signin">
            <form class="form-horizontal">
                <!--TODO beginform?-->
                <div class="form-group">
                    <input name="FirstName" type="text" class="form-control" id="nameField" placeholder="Twoje imię" />
                    @Html.ValidationMessage("FirstName", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input name="LastName" type="text" class="form-control" id="lastnameField" placeholder="Twoje nazwisko" />
                    @Html.ValidationMessage("LastName", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input name="Email" type="email" class="form-control" id="lastnameField" placeholder="Twój email"/>
                    @Html.ValidationMessage("Email", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input name="Password" type="password" class="form-control" id="passwordField" placeholder="Twoje hasło" />
                    @Html.ValidationMessage("Password", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Wyślij</button>
                </div>
            </form>
        </div>
    </div>
}